name: autoblack
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Check pwd
        run: echo $PATH
      - name: Check files
        run: ls 
      - name: Install Black
        run: pip install black
      - name: If needed, commit black changes to the pull request
        run: |
          black .
          git config user.name 'autoblack'
          git config user.email 'ippudkippude@gmail.com'
          git branch
          git commit -am "fixup: Format Python code with Black"
          git push --force
